Package: com.joemerlino.airplanesignal
Name: AirplaneSignal
Depends: mobilesubstrate, firmware (>= 7.0), com.a3tweaks.flipswitch (>= 1.0.3)
Version: 0.0.1
Architecture: iphoneos-arm
Description: Turns on AirplaneMode if you have low signal strength. Enable/disable and set the strength limit in settings. 
Maintainer: Joe Merlino
Author: Joe Merlino
Section: Tweaks
